@font-face {
    font-family: 'Doran';
    src: url('../../fonts/Doran-Light.eot');
    src: local('Doran Light'), local('Doran-Light'),
        url('../../fonts/Doran-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Doran-Light.woff2') format('woff2'),
        url('../../fonts/Doran-Light.woff') format('woff'),
        url('../../fonts/Doran-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('../../fonts/Doran-Thin.eot');
    src: local('Doran Thin'), local('Doran-Thin'),
        url('../../fonts/Doran-Thin.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Doran-Thin.woff2') format('woff2'),
        url('../../fonts/Doran-Thin.woff') format('woff'),
        url('../../fonts/Doran-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('../../fonts/Doran-Medium.eot');
    src: local('Doran Medium'), local('Doran-Medium'),
        url('../../fonts/Doran-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Doran-Medium.woff2') format('woff2'),
        url('../../fonts/Doran-Medium.woff') format('woff'),
        url('../../fonts/Doran-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('../../fonts/Doran-Bold.eot');
    src: local('Doran Bold'), local('Doran-Bold'),
        url('../../fonts/Doran-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Doran-Bold.woff2') format('woff2'),
        url('../../fonts/Doran-Bold.woff') format('woff'),
        url('../../fonts/Doran-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('../../fonts/Doran-Regular.eot');
    src: local('Doran Regular'), local('Doran-Regular'),
        url('../../fonts/Doran-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Doran-Regular.woff2') format('woff2'),
        url('../../fonts/Doran-Regular.woff') format('woff'),
        url('../../fonts/Doran-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('../../fonts/Doran-ExtraBold.eot');
    src: local('Doran ExtraBold'), local('Doran-ExtraBold'),
        url('../../fonts/Doran-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Doran-ExtraBold.woff2') format('woff2'),
        url('../../fonts/Doran-ExtraBold.woff') format('woff'),
        url('../../fonts/Doran-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-background {
    background-color: transparent;
}

.img-shadow {
    filter: drop-shadow(3px 3px 0 rgba(0,0,0))
}
/* 
.glass {
    background-color: var(--glass);
    backdrop-filter: blur(10px);
    border: 2px solid var(--glass-border);
    box-shadow: var(--shadow);
    border-radius: 10px;
} */

.navigation {
    position: sticky;
    z-index: 1000;
    top: 0;
    background: var(--black);
    height: 80px;
}

.navigation a {
    font-family: 'Doran';
    font-weight: bold;
    color: var(--white);
    font-size: 1.6em;
    text-decoration: none;
    margin: 8px;
    margin-block: 1.5rem;
}

.navigation > div > a:hover {
    color: gray;
}

.empty-space {
    color: var(--black);
    width: 50rem;
    border-bottom: 2px solid gray;
}

.inverted {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
	width: 800px;
	height: 500px;
	aspect-ratio: 8 / 5;
}

.best-selling-section {
    background-color: var(--black);
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border-top: 0;
    border-radius: 0 0 120% 0;
    z-index: 999;
}

.product-img-sample {
    width: 400px;
    filter: 
        drop-shadow(20px 20px 0 rgba(0,0,0))
        drop-shadow(-20px -20px 0 var(--white));
    padding-top: 50px;
    margin-right: 2%;
    border-radius: 50%;
}

.best-selling-title {
    font-family: Doran;
    font-weight: 600;
    font-size: 2rem;
    color: rgb(100, 0, 0);
    padding-top: 5%;
    margin: 0;
    text-shadow:
        1px 1px 0 var(--white),
        3px 3px 8px gray;
    -webkit-text-stroke: 1px red;
    -moz-text-stroke: 1px red;
}

.product-box {
    box-shadow: 5px 5px 0 rgb(167, 166, 166);
    background-color: var(--white);
    border: 2px solid gray;
    border-radius: 35px;
    margin: 20px;
    width: 200px;
    height: 300px;
}

.product-img {
    padding-top: 22%;
}

.product-title-section {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.product-title {
    font-family: Doran;
    font-weight: 700;
    font-size: 2rem;
    display: inline-block;
    color: var(--white);
    background-color: rgba(0, 77, 22, 0.8);
    border-top: 8px solid rgb(0, 49, 0);
    border-bottom: 8px solid rgb(0, 49, 0);
    padding: 8px;
    margin-top: 5%;
}

.product-section {
    background-color: var(--black);
    height: 40vh;
    margin-block: 4%;
}

.product-element {
    position: relative;
    background-color: var(--white);
    text-align: center;
    border: 2px solid var(--black);
    border-radius: 25px;
    width: 220px;
    height: 400px;
    margin: 15px;
    box-shadow: 10px 10px 0 var(--black);
}

.in-stock, .out-of-stock {
    margin-block: 0;
    position: absolute;
    top: 5px;
    right: 5px;
}

.in-stock {
    background-color: #28a745;
    font-size: 1rem;
    padding: 4px;
    border-radius: 30px;
}

.out-of-stock {
    background-color: #dc3545;
    font-size: 1rem;
    padding: 5px;
    border-radius: 30px;
}

.product-element img {
    padding-block: 10%;
}

.product-element a {
    font-family: Doran;
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--black);
}

.product-element:hover {
    border: 2px solid rgb(0, 49, 0);
    box-shadow: 0 0 10px 10px rgb(0, 49, 0);
}

.product-element h2 {
    font-family: Doran;
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: var(--black);
}

.product-element h3 {
    font-family: monospace;
    text-align: right;
    margin-right: 7%;
    font-size: 1rem;
    color: gray;
    margin-top: 0;
}

.all-product-btn {
    font-family: Doran;
    font-weight: 400;
    font-size: 2rem;
    color: var(--white);
    background-color: var(--black);
    border-radius: 6px;
    transition: 1s linear;
    margin: 20px;
    text-decoration: none;
    padding: 5px;
    -webkit-user-select: none;
    user-select: none;
}

.all-product-btn:hover {
    color: var(--black);
    background-color: var(--white);
    transition: 1s color;
}

.about-section {
    background-color: var(--black);
}

.about-desc {
    font-family: Doran;
    font-weight: 400;
    font-size: 1.3rem;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
    color: var(--white);
}

.about-title {
    font-family: Doran;
    font-weight: 900;
    color: var(--white);
    margin-right: 50px;
    padding-top: 20px;
}

.socials {
    text-align: center;
}

.about-link {
    margin: 2%;
}

.about-link a {
    font-family: var(--white);
    font-family: Doran;
    font-weight: 900;
    font-size: 1.5em;
    text-decoration: none;
    color: var(--white);
}