:root {
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --darkgray: rgb(42, 42, 42);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section {
    width: 100%;
}

.category {
    height: 400px;
    width: clamp(100px, 30vw, 400px);
    background-color: var(--white);
    border: 3px solid var(--darkgray);
    border-radius: 20px;
    box-shadow:inset 0 0 20px 5px var(--black);
    flex-direction: column;
    gap: 15px;
    margin-left: 2%;
}

.category h3,
.category label,
.category button {
    font-family: Doran;
    font-weight: 700;
    font-size: 1.3rem;
}

.category ::placeholder {
    font-family: Doran;
    font-weight: 500;
    font-size: 1rem;
}

.category-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.price-title, .type-title {
    margin-left: 4%;
}

.check-box {
    margin-left: 1%;
}

.price-input {
    width: 100%;
    max-width: 160px;
}

.price-box{
    display:flex;
    gap:10px;
}

.filter-btn {
    width: 100%;
    max-width: 220px;
    height: 45px;
    background-color: var(--black);
    padding: 2%;
    margin: 2%;
    color: var(--white);
    border: 2px solid var(--darkgray);
    border-radius: 5px;
    box-shadow: inset 0 0 10px 1px var(--white);
}

.sort-list {
    font-family: Doran;
    font-size: 1.5rem;
    display: block;
    margin: 20px auto;
    width: clamp(150px, 30vw, 350px);
    height: 3rem;
    padding: 0 10px;
    border: 1px solid #bbb;
    border-radius: 30px;
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
    margin-top: 1%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.sort-list:focus {
    outline: none;
    border-color: var(--black);
    box-shadow: 0 0 5px var(--darkgray);
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

@media (max-width:768px){

    .main-section{
        flex-direction: column;
        gap: 30px;
    }

    .category{
        width: 90%;
        margin: 0 auto;
    }

    .product-section{
        width: 100%;
    }

    .product-line{
        flex-wrap: wrap;
        gap: 20px;
    }

}