{% extends "base.html" %}
{% load static %}


{% block page_title %}
    ورود به حساب کاربری
{% endblock page_title %}


{% block header_references %}
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'includes/about.css' %}">
{% endblock header_references %}


{% block content %}

    <div class="form-control flex-center">

        <form action="{% url 'login' %}" method="POST" class="form">

            {% csrf_token %}

            {{ login_form.non_field_errors }}

            <div class="form-group">

                {{ login_form.phone_number.label_tag }}
                <hr>
                {{ login_form.phone_number }}
                {{ login_form.phone_number.errors }}

            </div>


            <div class="btn-section">

                <button type="submit" class="login-btn">
                    ورود
                </button>

            </div>

        </form>

    </div>

{% endblock content %}