{% extends "base.html" %}
{% load static %}


{% block page_title %}
    contact us
{% endblock page_title %}


{% block header_references %}
    <link rel='stylesheet' href='{% static "contact_us.css" %}'>
    <link rel='stylesheet' href='{% static "includes/about.css" %}'>
{% endblock header_references %}
    

{% block content %}
    <div class='main-div'>
        <form action='{% url "contact-us" %}' method='POST'>
            {% csrf_token %}

            
            {% for field in form %}
                <div>
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.error_messsages }}
                </div>
            {% endfor %}

            <button action='{% url "contact-us" %}' type='submit'>
                ارسال
            </button>
                
        </form>
    </div>
{% endblock content %}
    