{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Barbod Zahedi">
  <title>{% block page_title %}{% endblock page_title %}</title>
  <link rel='stylesheet' href='{% static "fontawesome/css/all.min.css" %}'>
  <link rel='stylesheet' href='{% static "/css/base.css" %}' />
  {% block header_references %}
  {% endblock header_references %}
</head>

<body dir=rtl>
    {% include "includes/navigation.html" %}
    {% block content %}{% endblock %}
    {% block footer_references %}{% endblock footer_references %}
    {% include "includes/about.html" %}
</body>

</html>