@font-face {
    font-family: 'Doran';
    src: url('../fonts/Doran-Light.eot');
    src: local('Doran Light'), local('Doran-Light'),
        url('../fonts/Doran-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-Light.woff2') format('woff2'),
        url('../fonts/Doran-Light.woff') format('woff'),
        url('../fonts/Doran-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('../../fonts/Doran-Thin.eot');
    src: local('Doran Thin'), local('Doran-Thin'),
        url('../fonts/Doran-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-Thin.woff2') format('woff2'),
        url('../fonts/Doran-Thin.woff') format('woff'),
        url('../fonts/Doran-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('../fonts/Doran-Medium.eot');
    src: local('Doran Medium'), local('Doran-Medium'),
        url('../fonts/Doran-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-Medium.woff2') format('woff2'),
        url('../fonts/Doran-Medium.woff') format('woff'),
        url('../fonts/Doran-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('../fonts/Doran-Bold.eot');
    src: local('Doran Bold'), local('Doran-Bold'),
        url('../fonts/Doran-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-Bold.woff2') format('woff2'),
        url('../fonts/Doran-Bold.woff') format('woff'),
        url('../fonts/Doran-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('../fonts/Doran-Regular.eot');
    src: local('Doran Regular'), local('Doran-Regular'),
        url('../fonts/Doran-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-Regular.woff2') format('woff2'),
        url('../fonts/Doran-Regular.woff') format('woff'),
        url('../fonts/Doran-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('../fonts/Doran-ExtraBold.eot');
    src: local('Doran ExtraBold'), local('Doran-ExtraBold'),
        url('../fonts/Doran-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-ExtraBold.woff2') format('woff2'),
        url('../fonts/Doran-ExtraBold.woff') format('woff'),
        url('../fonts/Doran-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --black: rgb(0, 0, 0);
    --gray: rgb(128, 128, 128);
    --gray-box: rgb(97, 97, 97);
    --darkgray: rgb(42, 42, 42);
    --white: rgb(255, 255, 255);
    --green: rgb(0, 128, 0);
    --blue: rgb(0, 0, 255);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--white);
    background-image:  repeating-radial-gradient( circle at -5% 38%, transparent 0,rgb(79, 78, 78) 25px ), repeating-linear-gradient(rgb(69, 69, 70));
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

button, input, select, textarea {
    font: inherit;
}