*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

button, input, select, textarea {
    font: inherit;
}

* {
    background-color: white;
}

body {
    background-color: #E5E5F7;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at -5% 38%, transparent 0, #3e3e3e 18px ), repeating-linear-gradient(#727272);
}
