*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

button, input, select, textarea {
    font: inherit;
}

* {
    background-color: white;
}

body {
    opacity: 0.8;
    background-image: radial-gradient(white 1px, gray 1px);
    background-size: 10px 10px;
}
