{% load static %}
<footer class='about-section'>
    <h1 class='about-title no-background'>درباره سیکوپلاس</h1>
    <p class='about-desc no-background'>در سیکو پلاس، ما به ارائه مجموعه‌ای استثنایی از ساعت‌های سیکو که ظرافت بی‌انتها را با مهندسی دقیق ترکیب می‌کنند، متعهد هستیم. مجموعه ما از طرح‌های کلاسیک تا جدیدترین نوآوری‌ها را شامل می‌شود و تضمین می‌کند که هر علاقه‌مند به ساعت می‌تواند ساعت ایده‌آل خود را پیدا کند. ما نه تنها به ارائه محصولات، بلکه به ارائه تجربه، با خدمات شخصی‌سازی شده و مشاوره تخصصی برای راهنمایی شما در انتخاب ساعت مناسب اعتقاد داریم. هر ساعت سیکو در فروشگاه ما گواهی بر میراث کیفیت و مهارت این برند است. با سیکو پلاس، ساعت بی‌نظیری را کشف کنید که در هر لحظه از زندگی شما را همراهی کند.</p>
    <div class='socials no-background'>
        <div class='about-link no-background'>
            <i class="fa-solid fa-envelope fa-2x" style='color:white;'></i>
            <a class='no-background' href=''>info@seikopluswatch.com</a>
        </div>
        <div class='about-link no-background'>
            <i class='fa-brands fa-whatsapp fa-2x' style='color:white;'></i>
            <a class='no-background' href=''>Whatsapp: 09121238723</a>
        </div>
        <div class='about-link no-background'>
            <i class='fa-brands fa-telegram fa-2x' style='color:white;'></i>
            <a class='no-background' href=''>Telegram: 09121238723</a>
        </div>
        <div class='about-link no-background'>
            <i class='fa-brands fa-instagram fa-2x' style='color:white;'></i>
            <a class='no-background' href=''>Instagram: seikoplus_official</a>
        </div>
    </div>
</footer>