{% load static %}

{% block header_references %}
    <link rel="stylesheet" href='{% static "includes/navigation.css" %}'>
{% endblock header_references %}

{% block content %}
    <div class='navigation flex-center'>

        <div class='no-background'>

            <a class='nav-item no-background' href='{% url "home" %}'>
                خانه
            </a>

        </div>

        <div class='no-background'>

            <a class='nav-item no-background' href='{% url "product-list" %}'>
                محصولات
            </a>

        </div>

        <div class='no-background'>

            <a class='nav-item no-background' href='{% url "contact-us" %}'>
                تماس با ما
            </a>
        </div>

        <div class='no-background'>

            <a class='nav-item no-background' href='{% url "about" %}'>
                درباره ما
            </a>

        </div>

        <div class='empty-space no-background'></div>

        <div class='shopping-cart-nav no-background'>

            <a href="{% url 'shopping-cart'%}">

                <i class="icon fa-solid fa-cart-shopping fa-3x"></i>

                <p class="cart-text"> سبد خرید </p>

            </a>

        </div>

        <div class='profile-nav no-background'>

            {% if request.user.is_authenticated %}

                <a href="{% url 'profile'%}">

                    <i class="icon fa-solid fa-id-card fa-3x"></i>

                    <p class="profile-text"> پروفایل </p>

                </a>

            {% else %}

                <a href="{% url 'login'%}">


                    <i class="icon fa-solid fa-right-to-bracket fa-3x"></i>

                    <p class="profile-text"> ورود </p>

                </a>

            {% endif %}

        </div>
    </div>
{% endblock content %}