:root {
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --gray: rgb(128, 128, 128);
    --darkgray: rgb(42, 42, 42);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-background {
    background-color: transparent;
}

.navigation {
    top: 0;
    background: var(--darkgray);
    height: 80px;
}

.navigation a {
    font-family: Doran;
    font-weight: bold;
    color: var(--white);
    font-size: 1.6em;
    text-decoration: none;
    margin: 8px;
    margin-block: 1.5rem;
    text-shadow: 2px 2px 2px var(--gray);
}

.empty-space {
    color: var(--black);
    width: 50rem;
    border-bottom: 2px solid var(--white);
}

.best-selling-section {
    background-color: var(--darkgray);
    height: 400px;
    border-top: 0;
    border-radius: 0 0 120% 0;
}

@media (max-width: 768px) {
    .navigation {
        text-align: center;
    }

    .navigation a {
        font-size: 1em;
    }
}