:root {
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --darkgray: rgb(42, 42, 42);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-background {
    background-color: transparent;
}

.img-shadow {
    filter: drop-shadow(3px 3px 0 rgba(0,0,0))
}

.center-div {
    margin-left: auto;
    margin-right: auto;
}

.product-element {
    position: relative;
    background-color: var(--white);
    text-align: center;
    border: 2px solid var(--black);
    border-radius: 15px;
    width: 220px;
    height: 400px;
    margin: 15px;
    box-shadow: 5px 5px 0 var(--darkgray);

    a {
        font-family: Doran;
        font-weight: 600;
        font-size: 1.2rem;
        text-decoration: none;
        color: var(--black);
    }

    h2 {
        font-family: Doran;
        font-size: 1.2rem;
        margin-bottom: 5px;
        color: var(--black);
        padding-top: 5%;
        border-top: 3px solid var(--black);
    }

    h3 {
        font-family: monospace;
        text-align: right;
        margin-right: 7%;
        font-size: 1rem;
        color: var(--gray);
        margin-top: 0; 
    }

    img {
        padding-block: 10%;
    }

}

.product-img {
    padding-top: 20%;
}

.product-element:hover {
    border: 2px solid rgb(0, 49, 0);
    box-shadow: 0 0 10px 10px rgb(0, 49, 0);
}

.out-product {
    opacity: .5;
    pointer-events: none;

    a, h2 {
        color: var(--gray) !important;
    }

    img {
        filter: grayscale(100%) brightness(85%);
        opacity: .6;
    }
}

.out-of-stock-tag {
    margin-block: 0;
    position: absolute;
    top: 5px;
    right: 5px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px var(--black);
    font-size: 1rem;
    padding: 5px;
    border-radius: 30px;
    background: var(--gray);
    color: white;
    font-weight: bold;
}

.out-of-stock-tag::before,
.out-of-stock-tag::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -10%;
    width: 120%;
    height: 2px;
    background: white;
}

.out-of-stock-tag::before {
    transform: rotate(25deg);
}

.out-of-stock-tag::after {
    transform: rotate(-25deg);
}